@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-content::-webkit-scrollbar {
	display: none;
}
/* hide scrollbar but allow scrolling */
element {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

element::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.theme-selected {
	@apply mb-1;
	@apply border;
	@apply border-current;
}
