@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-content::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.theme-selected {
	@apply mb-1;
	@apply border;
	@apply border-current;
}

.eo {
	filter: drop-shadow(0 -10px calc(1 * 10px) hsl(var(--b3)));
}
